<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>Hola!</title>
        <style>
            .verde {background:#8dc640;color:#000;}
            .azul {background:#092c74;color:#fff;}
            .azul td, .azul th {color:#fff !important;font-weight:inherit;}
            .btn-primary {background-color:#092c74;border-color:#092c74;}
            .btn-success {background-color:#8dc640;border-color:#8dc640;}
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 verde">
                    <div class="min-vh-100">
                        <h2 class="py-3">
                            Datos de la factura
                        </h2>
                        <form action="facturas/create" method="post">
                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <div class="mb-3">
                                        <label for="txtFecha" class="form-label">Fecha</label>
                                        <input type="text" class="form-control" id="txtFecha" name="txtFecha" value="{{ fecha }}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="mb-3">
                                        <label for="txtCliente" class="form-label">Cliente</label>
                                        <input type="text" class="form-control" id="txtCliente" name="txtCliente" autofocus>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="mb-3">
                                        <label for="txtCiudad" class="form-label">Ciudad</label>
                                        <input type="text" class="form-control" id="txtCiudad" name="txtCiudad">
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th>Producto <button id="btnAgregar" type="button" class="btn btn-secondary btn-sm">+</button></th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody id="facturaDetalle">
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" name="txtProducto[]">
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" name="txtPrecio[]">
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" name="txtCantidad[]">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" readonly name="txtSubtotal[]">
                                    </td>
                                </tr>
                            </tbody>
                            <tfooter>
                                <tr>
                                    <th colspan="3" class="text-end">Total:</th>
                                    <td>
                                        <input type="text" class="form-control" readonly id="txtTotal" name="txtTotal">
                                    </td>
                                </tr>
                            </tfooter>
                            </table>
                            <div class="d-grid gap-2 col-6 mx-auto my-2">
                                <button id="btnGrabar" type="button" class="btn btn-primary d-block">Grabar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 azul">
                    <div class="min-vh-100">
                        <h2 class="py-3">
                            Lista de facturas
                            <button type="button" id="btnNuevo" class="btn btn-success float-end">Nueva factura</button>
                        </h2>
                        <table id="listado" class="table table-striped table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Cliente</th>
                                    <th>Ciudad</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script>
            var total = 0;
            $(function() {
                $('#btnAgregar').click(function() {
                    var html = '';
                    html += '<tr><td>';
                    html += '<input type="text" class="form-control" name="txtProducto[]">';
                    html += '</td><td>';
                    html += '<input type="number" class="form-control" name="txtPrecio[]">';
                    html += '</td><td>';
                    html += '<input type="number" class="form-control" name="txtCantidad[]">';
                    html += '</td><td>';
                    html += '<input type="text" class="form-control" readonly name="txtSubtotal[]">';
                    html += '</td></tr>';
                    $('#facturaDetalle').append(html);
                });
                $(document).on('blur',  'input[name="txtCantidad[]"]', function () {
                    var precio = $(this).closest('tr').find('input[name="txtPrecio[]"]').val();
                    var cantidad = $(this).val();
                    var subtotal = precio * cantidad;
                    total += subtotal;
                    $(this).closest('tr').find('input[name="txtSubtotal[]"]').val(subtotal);
                    $('#txtTotal').val(total);
                });

                $('#btnGrabar').click(function() {
                    var form = new FormData();
                    form.append('txtFecha', $('#txtFecha').val());
                    form.append('txtCliente', $('#txtCliente').val());
                    form.append('txtCiudad', $('#txtCiudad').val());
                    form.append('txtTotal', $('#txtTotal').val());
                    form.append('txtProducto', getValues('txtProducto'));
                    form.append('txtPrecio', getValues('txtPrecio'));
                    form.append('txtCantidad', getValues('txtCantidad'));
                    form.append('txtSubtotal', getValues('txtSubtotal'));
                    var settings = {
                        'url': 'facturas/create',
                        'method': 'POST',
                        'timeout': 0,
                        'processData': false,
                        'mimeType': 'multipart/form-data',
                        'contentType': false,
                        'data': form,
                        'dataType': 'json'
                    };
                    $.ajax(settings).done(function(response) {
                        console.log(response);
                        if (response.success) {
                            listFacturas();
                        }
                    });
                });
                listFacturas();
            });
            function getValues(input) {
                var inputValues = []
                $.each($("input[name='" + input + "[]']"), function(i, obj) {
                    inputValues.push($(obj).val());
                });
                console.log(inputValues);
                return JSON.stringify(inputValues);
            }
            function listFacturas() {
                var settings = {
                    "url": "facturas/list",
                    "method": "GET",
                    "timeout": 0,
                    "processData": false,
                    "contentType": false
                };
                $.ajax(settings).done(function (response) {
                    var html = '<tr>';
                    var data = response.data;
                    data.forEach(function(factura, i, array) {
                        html += '<tr>';
                        html += '<td>' + factura.fecha.date.substring(0, 10) + '</td>';
                        html += '<td>' + factura.cliente + '</td>';
                        html += '<td>' + factura.ciudad + '</td>';
                        html += '<td>' + factura.total + '</td>';
                        html += '</tr>';
                    });
                    $('#listado tbody').html(html);
                });
            }
        </script>
    </body>
</html>